[Desktop Entry]
Name=Engineered
Comment=Aurorae theme


X-KDE-PluginInfo-Author=RoctorDush
X-KDE-PluginInfo-Name=Engineered
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
